.crew-list {
    margin-top: 20px;
    margin-right: 40px;
    margin-bottom: 30px;
    margin-left: 50px;
  }
  
  // .crew-list .mat-cell,
  // .crew-list .mat-header-cell,
  // .crew-list .mat-footer-cell {
  //   text-align: center; /* Yatay olarak ortala */
  //   vertical-align: middle; /* Dikey olarak ortala */
  // }