.crew-list {
    margin-top: 20px;
    margin-right: 40px;
    margin-bottom: 30px;
    margin-left: 50px;
    padding: 1rem;
  }

  
  .action-buttons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
  }
  

  .mat-elevation-z8 {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  // .crew-list .mat-cell,
  // .crew-list .mat-header-cell,
  // .crew-list .mat-footer-cell {
  //   text-align: center; /* Yatay olarak ortala */
  //   vertical-align: middle; /* Dikey olarak ortala */
  // }