<div class="crew-card-container">
  <div class="header-actions">
    <button mat-button class="back-button" (click)="navigateToCrewList()" aria-label="Back to crew list">
      <mat-icon>arrow_back</mat-icon> {{ 'BACK_TO_CREW_LIST' | translate }}
    </button>
    <button *ngIf="selectedTabIndex === 1" mat-button class="add-certificate-button" (click)="openAddCertificateModal()" aria-label="Add a new certificate">
      <mat-icon>add</mat-icon> {{ 'ADD_CERTIFICATE' | translate }}
    </button>
  </div>

  <mat-tab-group (selectedIndexChange)="onTabChange($event)" [selectedIndex]="selectedTabIndex">
    <mat-tab label="{{ 'CREW_DETAILS' | translate }}">
      <mat-card class="crew-card">
        <mat-card-header class="crew-card-header">
          <div class="crew-title">
            <h1>{{ crewMember?.firstName }} {{ crewMember?.lastName }}</h1>
            <h3>{{ crewMember?.title }} • {{ crewMember?.nationality }}</h3>
          </div>
        </mat-card-header>
        <mat-card-content class="crew-details">
          <div class="info-row">
            <p><strong>{{ 'DAYS_ON_BOARD' | translate }}:</strong> {{ crewMember?.daysOnBoard }}</p>
            <p><strong>{{ 'DAILY_RATE' | translate }}:</strong> {{ crewMember?.dailyRate }} {{ getCurrencyName(crewMember?.currency) }} </p>
            <p><strong>{{ 'TOTAL_INCOME' | translate }}:</strong> {{ crewMember?.totalIncome }} {{ getCurrencySymbol(crewMember?.currency) }}</p>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-tab>

    <mat-tab label="{{ 'CREW_CERTIFICATES' | translate }}">
      <div class="certificates-container">
        <h2>{{ 'CERTIFICATES.TITLE' | translate }}</h2>
        <ng-container *ngIf="crewCertificates.length; else noCerts">
          <mat-card *ngFor="let certificate of crewCertificates" class="certificate-card">
            <mat-card-title>{{ certificate.name }}</mat-card-title>
            <mat-card-subtitle>{{ certificate.description }}</mat-card-subtitle>
            <mat-card-content>
              <p><strong>{{ 'CERTIFICATES.ISSUE_DATE' | translate }}:</strong> {{ certificate.issueDate }}</p>
              <p><strong>{{ 'CERTIFICATES.EXPIRY_DATE' | translate }}:</strong> {{ certificate.expiryDate }}</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-icon-button color="warn" (click)="deleteCertificate(certificate.id)" aria-label="Delete certificate">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-card-actions>
          </mat-card>
        </ng-container>
        <ng-template #noCerts>
          <p>{{ 'NO_CERTIFICATES' | translate }}</p>
        </ng-template>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>