<h2 mat-dialog-title>{{ 'ADD_CERTIFICATE' | translate }}</h2>
<mat-dialog-content>
  <form [formGroup]="certificateForm">
    <mat-form-field appearance="fill">
      <mat-label>{{ 'CERTIFICATES.NAME' | translate }}</mat-label>
      <mat-select formControlName="certificateType" required>
        <mat-option *ngFor="let type of certificateTypes" [value]="type">
          <div class="certificate-option">
            <span>{{ type.name }}</span>
            <div class="description">{{ type.description }}</div>
          </div>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>{{ 'CERTIFICATES.ISSUE_DATE' | translate }}</mat-label>
      <input matInput type="date" formControlName="issueDate" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>{{ 'CERTIFICATES.EXPIRY_DATE' | translate }}</mat-label>
      <input matInput type="date" formControlName="expiryDate" required>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">{{ 'CANCEL' | translate }}</button>
  <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!certificateForm.valid">
    {{ 'SAVE' | translate }}
  </button>
</mat-dialog-actions>