mat-form-field {
    width: 100%;
    margin-bottom: 1rem;
  }
  
  .certificate-option {
    display: flex;
    flex-direction: column;
  }
  
  .description {
    font-size: 0.9rem;
    color: gray;
    margin-top: 0.2rem;
  }